
<div class="container">

	<h2 class="title0">プライバシーポリシー</h2>

	<p>当サイトでは、以下のようにプライバシーポリシーを定めています。サイトを利用するにはこのプライバシーポリシーに同意する必要があります。</p>
	
	<h2>個人情報の管理について</h2>
	<p>当サイトでは、セキュリティシステムの強化その維持や改善における必要な措置を講じ、個人の情報への不正なアクセスや、紛失、破損、改ざん、漏洩などの防止に努め、個人情報の厳重な管理を行っております。</p>
	
	<h2>個人情報の利用目的について</h2>
	<p>当サイトではログインに必要な「メールアドレス」、「パスワード」、（連携したユーザーのみ）「Twitterのログイン情報（authトークン）」などの情報を保存しています。これらはサイト利用の範囲内で当社並びに当社と契約関係にあるパートナー社（広告配信、アクセス解析など）の間で利用されます。</p>

	<h2>広告配信について</h2>
	<p>当サイトでは、Google及びGoogleのパートナー（第三者配信事業者）をはじめとした他者の広告サービスなどの第三者配信事業者が提供する広告を設置しており、また、その広告配信の一部にはCookieを使用しています。</p>
	<p>この際、GoogleやGoogleのパートナーは、サイト閲覧者の方の、当サイト、またはその他のサイトへの過去のアクセス情報に基づき、<a class="external ext_icon" href="https://support.google.com/ds/answer/2839090?hl=ja&amp;ref_topic=2473095" target="_blank" rel="noopener">DoubleClick Cookie</a>&nbsp;を使用することによって、適切な広告を配信しています。</p>
	<p>お客様は<a class="external ext_icon" href="https://www.google.com/settings/u/0/ads/authenticated?hl=ja" target="_blank" rel="noopener">Googleアカウントの広告設定ページ</a>で、インタレストベースでの広告掲載に使用される DoubleClick Cookie を無効にできます。また aboutads.info のページにアクセスして頂き、インタレスト ベースでの広告掲載に使用される第三者配信事業者のCookieを無効にできます。</p>
	<p>その他、Googleの広告配信におけるCookieの取り扱いの詳細につきましては、<a class="external ext_icon" href="http://www.google.co.jp/policies/technologies/ads/" target="_blank" rel="noopener">Googleのポリシーと規約ページ</a>をご覧ください。</p>
	
	<h2>Facebookアプリについて</h2>
	<p>当サイトでは、サイトとFacebookページとの連携を行うために、Facebookアプリを使用しています。このアプリを通じて得た情報も、個人を特定するものではありません。</p>
	
	<h2>免責事項</h2>
	<p>当サイトでは、そのコンテンツにおいて、可能な限り正確な情報を発信するよう努めておりますが、誤った情報が含まれていたり、古い情報が含まれている場合もございます。</p>
	<p>当サイトに掲載された内容によって生じた一切の責任を負いかねますのでご了承ください。</p>
</div>


