// commonディレクトリ
$DIR_IMG_CMN: "/img/common/";


// カラー
$COL_BASE: #000;
$COL_SUB: #fafafa;
$COL_SUB2: #efefed;
$COL_GRAY: #dfdfde;
$COL_GRAY2: #787878;
$COL_RED: #ff0053;



// VW基準横幅
$base_vw: 640;
$break_point: 750;

// $BREAK_POINT_PC_WIDE: 1296px;

// mixin 設定
@mixin MIX_REM($size){
	font-size: $size + px;
	font-size: $size / 16 + rem;
}

@mixin MIX_FONT_VW($size){
	font-size: $size + px;
	font-size: $size / $base_vw * 100 + vw;
}


@mixin clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

