

<header>

	<div class="inner">

		<a href="javascript:void(0);" class="prev">戻る</a>
		<h1>
			<%= link_to image_tag('header/logo.png', { :border => '0', :alt => 'MapStamp マップポップ'}), :controller => "home", :action => "index" %>
		</h1>
		<a href="javascript:void(0);" class="next">次へ</a>

		<% if logged_in? %>
			<a href="/users/<%= session[:user_id] %>" class="login_btn">マイページ</a>
		<% else %>
			<%= link_to "ログイン", login_path, method: :new, :class => 'login_btn' %>
		<% end %>

	</div>
	
</header>